parameters:

    paths:
        - app
        - Modules

    level: 9

    # ignoreErrors:
    #    - '#Unsafe usage of new static#'

    excludePaths:
        analyse:
            - ./*/*/Tests/*.php
            - ./_ide_helper.php
            - ./.phpstorm.meta.php (?)
            - ./phpinsights.php

