parameters:

    paths:
        - app
        - Modules
        - routes
        - database/factories
        - database/seeders
        - tests

    level: 9

    # ignoreErrors:
    #    - '#Unsafe usage of new static#'

    excludePaths:
        analyse:
            - ./_ide_helper.php
            - ./.phpstorm.meta.php (?)
            - ./phpinsights.php

